.login-page{
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: 50% 0;
    background-image: radial-gradient(circle at 50% 50%, #3c8bc5 0%, #00457c 100%);
    background-repeat: no-repeat;
}
