.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 36);
    z-index: 9999;

    .enabled{
      opacity: 1;
      background-color: black;
    }

    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      .option {
        padding-left: 15px;
        padding-right: 15px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover{
          background-color: red;
          opacity: 1;
        }

      }

    }


    

    .logout {
        display:flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 15px;
        padding-right: 15px;

    }
  }