.menu-item{
    width: 30%;
    max-width: 30%;
    height: 100%;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    .content{
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        background-color: white;
        opacity: 0.7;
        position: relative;

        .title{
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 30px;
        }

        .main-content
        {
            width: 100%;
            font-size: 16px;
        }

    }

}